

<div id="mtd-select-list-helper-item" style="display: none">
    <li class="mdc-list-item" role="option">
        <span class="mdc-list-item__ripple"></span>
        <span class="mdc-list-item__text">
            Text
        </span>
    </li>
</div>
