@model MTDTextFieldTagsModel


@if (Model.IconLeading != null)
{
    if (Model.IconLeadingScript != null)
    {
        <i class="mdc-text-field__icon mdc-text-field__icon--leading @Model.IconLeading"
           tabindex="0" role="button"
           onclick="@Model.IconLeadingScript"></i>
    }
    else
    {
        <i class="mdc-text-field__icon mdc-text-field__icon--leading @Model.IconLeading"></i>
    }
}
@*else
{

    @if (Model.MTDTexFieldView == MTDTextFieldViews.Default)
    {

        {<span class="mdc-text-field__ripple"></span>}
    }

}*@