<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44371" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.202\DotnetTools\dotnet-watch\6.0.202-servicing.22172.7\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44337/MtdKey.OrderMaker/,ws://localhost:65317/MtdKey.OrderMaker/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7AUVyiLMNj6Fid22J0zGG0ekQ4kyIt1opir/tGdzXKmsh/Mw7KZUeh+ag55qNUQfbDPzli/GQercENZ5UBBPBeO2HlpfSu/ObezTn7lepmolqsqKaHKAXrCnsJnGTjKeD0BhCq0EKLT1NW2r+rFsLJqnotlSYc9EFkS0PTWVzs7dKN+VoKzcKENQdEIDRFJ4BK8GPPu/s0xm0OEWzhmR/TdgxPyE6huSudb9PEAkYVLCeYGw2cSPh+wW0ut7XmVrZQroGpGZeybFUcfGzPUzKMLIpDY1Rl5kVPQaVKMy//2sF3OUEHUAnr/bzyF+susbv756IO4KEHwxxNbmo1amtQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <!-- This will handle requests up to 50MB -->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>