@using MtdKey.OrderMaker;
@using Microsoft.AspNetCore.Mvc.Localization
@using MtdKey.OrderMaker.Components.Controls;
@using MtdKey.OrderMaker.Models.Controls.MTDTextField;
@inject IHtmlLocalizer<FormBuilderLocalizer> localizer

<div class="modal fade" id="formDialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@localizer["Form attributes editor"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @*<div class="form-floating">
                <input class="form-control" placeholder="Leave a comment here" id="formName" maxlength="250"/>
                <label for="formName">@localizer["Form Name"]</label>
                </div>*@
                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                {
                    Id = "formName",
                    Name = "formName",
                    MTDTexFieldView = MTDTextFieldViews.Outlined,
                    Label = "Form Name",
                    LabelLocalized = true,
                    Required = true,
                })
                <div class="row pt-2">
                    <div class="col">
                        @{var titleImageBack = localizer["Background image"];}
                        @await Html.PartialAsync("/src/imageSelector/frontend/_ImageSelector.cshtml", new ImageSelectorModel{ 
                            Id="imageBack", Title=titleImageBack.Value })
                    </div>
                    <div class="col">
                        @{
                            var titleImageLogo = localizer["Document logo"];
                        }
                        @await Html.PartialAsync("/src/imageSelector/frontend/_ImageSelector.cshtml", new ImageSelectorModel{
                        Id="imageLogo", Title=titleImageLogo.Value })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">@localizer["Close"]</button>
                        @*<button type="button" class="btn btn-light text-primary">@localizer["Apply"]</button>*@
                </div>
            </div>
        </div>
    </div>
    </div>
