@using Microsoft.AspNetCore.Mvc.Localization
@using MtdKey.OrderMaker;
@inject IHtmlLocalizer<FormBuilderLocalizer> localizer

<template id="formPartTemplate">
    <div draggable="true" class="formPart" data-type="activePart">
        <div class="formPart_header mdc-elevation--z2">
            <div class="p-1 dropdown">
                <button class="btn btn-light text-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu shadow">
                    <li>
                        <a data-action-editor class="dropdown-item text-primary">
                            <i class="bi bi-pencil-square"></i>
                            &nbsp;
                            @localizer["Edit"]
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a data-action-remover class="dropdown-item text-danger">
                            <i class="bi bi-x-square"></i>
                            &nbsp;
                            @localizer["Delete"]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="formPart_title">
                @localizer["Form Part Name"]
            </div>
            <div class="btn_drag">
                <i class="bi bi-grip-horizontal"></i>
            </div>
        </div>
        <div class="formPart_items">
            <div class="infoDragField">
                @localizer["Drag any Form Field here."]
            </div>
        </div>
    </div>
</template>
