@model DetailsModel
@namespace MtdKey.OrderMaker.Components.Store
@using MtdKey.OrderMaker.Core
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@*style="position: fixed; background-color: white; top:56px; left: 0; bottom: 0px; z-index:4;"*@

<div class="mtd-desk-block-content " >
    <div class="mtd-desk-block-title">
        <div class="mtd-desk-block-title-icon">
            @*<i class="material-icons" aria-hidden="true">history</i>*@


            @if (Model.IsApprover)
            {
                <div style="color: cornflowerblue;">

                    @if (Model.IsFirstStage)
                    {
                        @await Html.PartialAsync("~/Areas/Workplace/Pages/Store/Partials/ApprovalStart.cshtml")
                    }

                    @if (Model.IsSign && !Model.IsFirstStage)
                    {
                        @await Html.PartialAsync("~/Areas/Workplace/Pages/Store/Partials/ApprovalButtonsSign.cshtml")
                    }

                    @if (!Model.IsSign && !Model.IsFirstStage)
                    {
                        @await Html.PartialAsync("~/Areas/Workplace/Pages/Store/Partials/ApprovalButtons.cshtml")
                    }

                </div>
            }


        </div>
        <div class="mtd-desk-block-title-label">
            @Localizer["Approval history"]
        </div>
        <div class="mtd-desk-block-title-button">
            <button onclick="clickBlockToogle(this)"
                    class="mdc-icon-button"
                    aria-label="Add to favorites"
                    aria-hidden="true"
                    aria-pressed="false"
                    data="block-approval">
                <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">expand_more</i>
                <i class="material-icons mdc-icon-button__icon">expand_less</i>
            </button>
        </div>
    </div>
    <div id="block-approval" class="mtd-desk-block-body">

        @await Html.PartialAsync("~/Areas/Workplace/Pages/Store/Partials/DetailsApproval.cshtml")

        @if (Model.ApprovalHistory.Count > 2)
        {
            <div style="text-align:center; border-top: 1px dashed  gray; margin-top: 12px;">
                <button style="background-color: white; margin-top: -24px;" onclick="clickBlockDetail(this)"
                        class="mdc-icon-button"
                        data="block-approval-table"
                        aria-checked="false">
                    <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">expand_less</i>
                    <i class="material-icons mdc-icon-button__icon">expand_more</i>
                </button>
            </div>
        }

    </div>
</div>