@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Account"];
    ViewData["SecondTitle"] = Localizer["Profile change"];
    ViewData["UserName"] = Model.UserName;
}


@section Breadcrumb {
    <li>@Localizer["Account"]</li>
}



@{
    ViewData["Message"] = Localizer["Your profile has been updated."];
}

<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-save" class="mdc-fab mdc-fab--extended" type="button">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">@Localizer["Save"]</span>
            </button>
        </div>
    </div>
    <form mtd-data-form method="post" autocomplete="off" novalidate>
        <input id="clicker-save" type="hidden" mtd-data-clicker mtd-data-message="@ViewBag.Message" />

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
       {
           Id = "login-password",
           Name = "Input.Password",
           Label = "Current password",
           LabelLocalized = true,
           IconLeading = "fas fa-key fa-lg",
           MTDTexFieldView = MTDTextFieldViews.Default,
           Type = "password",
           HelperError = "You must enter your password in order to change your profile.",
           HelperErrorLocalizer = true,
           Required = true,
           MtdInputClicker = true,
           MtdDataMessage = @ViewBag.Message,
       })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
       {
           Id = "login-name",
           Name = "Input.UserTitle",
           Label = "Title name",
           LabelLocalized = true,
           IconLeading = "fas fa-user-tag fa-lg",
           MTDTexFieldView = MTDTextFieldViews.Default,
           Value = Model.Input.UserTitle

       })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
       {
           Id = "login-email",
           Name = "Input.Email",
           Label = "Email",
           LabelLocalized = true,
           IconLeading = "fas fa-envelope fa-lg",
           MTDTexFieldView = MTDTextFieldViews.Default,
           Value = Model.Input.Email,
           Type = "email",
           Pattern = RegexPatterns.Email,
           Required = true

       })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
       {
           Id = "login-phone",
           Name = "Input.PhoneNumber",
           Label = "Phone",
           LabelLocalized = true,
           IconLeading = "fas fa-phone fa-lg",
           MTDTexFieldView = MTDTextFieldViews.Default,
           Value = Model.Input.PhoneNumber,
           Placeholder = "+0 000 000 0000",
           HelperText = "Phone number pattern: +0 000 000 0000",
           HelperTextLocalizer = true,
           Type = "tel",
           Pattern = RegexPatterns.Phone

       })

        </div>
    </form>
</div>



@section Scripts{
    <script src="~/lib/mtd-ordermaker/identity/js/mtd-identity-manage.js" asp-append-version="true"></script>
}
