@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@
@page
@model CreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@using MtdKey.OrderMaker.AppConfig
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["New user"];
    ViewData["SecondTitle"] = Localizer["Creating a new user"];
}
@section Breadcrumb {
    <li><a href="~/Identity/Users">@Localizer["Users"]</a></li>
    <li><a href="~/Identity/Users/Accounts">@Localizer["Accounts"]</a></li>
    <li>@ViewData["Title"]</li>
}

<div class="mtd-desk">

    <div class="mtd-desk-panel">
        <div style="padding-left: 16px">
            <button mtd-data-clicker-by="clicker-create" class="mdc-fab mdc-fab--extended" aria-label="Create" type="submit">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">person_add</span>
                <span class="mdc-fab__label">@Localizer["Create"]</span>
            </button>
        </div>
    </div>
    <form mtd-data-form method="post" autocomplete="off" novalidate>
        <input type="hidden" id="clicker-create" mtd-data-clicker mtd-data-location="/identity/users/accounts/edit?id=@Model.Input.Id"/>
        <input type="hidden" asp-for="Input.Id"/>
@*        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "login-name",
                   Name = "Input.UserName",
                   Label = "Login name",
                   LabelLocalized = true,
                   Required = true,
                   IconLeading = "fas fa-user fa-lg"
               })
        </div>*@
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "login-title",
                   Name = "Input.Title",
                   Label = "Display user name",
                   LabelLocalized = true,
                   Required = true,
                   IconLeading = "fas fa-user-tag fa-lg"
               })
        </div>
        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "login-email",
                   Name = "Input.Email",
                   Label = "Email",
                   LabelLocalized = true,
                   Required = true,
                   IconLeading = "fas fa-envelope fa-lg"
               })
        </div>

        <div class="mtd-desk-field">
            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
               {
                   Id = "login-phone",
                   Name = "Input.PhoneNumber",
                   Label = "Phone",
                   LabelLocalized = true,
                   IconLeading = "fas fa-phone fa-lg",
                   Placeholder = "+0 000 000 0000",
                   HelperText = "Phone number pattern: +0 000 000 0000",
                   HelperTextLocalizer = true,
                   Type = "tel",
                   Pattern = RegexPatterns.Phone
               })
        </div>
    </form>
</div>

@section Scripts{ 
 <script>
     new MTDTextField("login-name");
     new MTDTextField("login-title");
     new MTDTextField("login-email");
     new MTDTextField("login-phone");
 </script>
}


