@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div class="mtd-index-header-buttons">

        <div class="mtd-button-hint">
            <button mtd-dialog-button="index-filter-window" class="mdc-icon-button material-icons mdc-theme--secondary">
                @*<i class="fas fa-filter fa-sm"></i>*@ filter_list
            </button>
            <div class="mtd-button-hint_info">
                <span>@Localizer["Add filter"]</span>
            </div>
        </div>

    <div>
        <div class="mtd-button-hint">
            <button mtd-dialog-button="dialog-filter-column" class="mdc-icon-button material-icons mdc-theme--secondary">
                @*<i class="fas fa-columns"></i>*@ table_chart
            </button>
            <div class="mtd-button-hint_info">
                <span>@Localizer["List columns"]</span>
            </div>
        </div>
    </div>
</div>
