@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Core.DocModel

<div class="pt-2 row">
    @foreach (var field in Model.Fields)
    {      
        <div class="col">
        @await Component.InvokeAsync("StoreStackEditor", new { docPart = Model.Parts.FirstOrDefault(), docField = field })
        </div>
    }
</div>