@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Core.DocFieldModel

<div>
    @if (Model.Value != null && (int)Model.Value == 1)
    {
        <div class="text-center">
            <i class="fas fa-check-circle" style="font-size: 24px"></i>
        </div>
    } else
    {
        <div class="text-center">
            <i class="far fa-times-circle" style="color: gray; font-size: 24px"></i>
        </div>
    }
</div>