@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

*@

@model Core.DocFieldModel

@{
    string value = "0.00";
    if (Model.Value != null && (decimal) Model.Value > 0)
    {        
        value = ((decimal)Model.Value).ToString("#,#.00");
    }
}

<div>
    @value
</div>