@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Core.DocFieldModel

@{
    var value = (string)Model.Value;
}

<div>
    @if (value != null && value != string.Empty)
    {
        <a href="@value" target="_blank">@value</a>
    }
</div>