@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Core.DocFieldModel

<div>
    @if (Model.Value != null)
    {
        var value = (string)Model.Value;
        <text>@value</text>
    }
</div>