@model Models.Index.SelectorModelView
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="index-filter-service-owners" style="display: none">
    <form mtd-data-form method="post" action="~/api/filter/service/add/owner" autocomplete='off'>
        @Html.AntiForgeryToken()
        <input name="form-id" value="@Model.FormId" hidden />
        <div class="index-filter-content-tab-second--one">

            @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
            {
               Id = "index-filter-service-owners-list",
               Name = "owner-id",
               MTDSelectListView = MTDSelectListViews.Outlined,
               Label = "Document owner",
               LabelLocalized = true,
               ValueId = Model.UsersItems.Select(x => x.Id).FirstOrDefault(),
               Items = Model.UsersItems

            })
        </div>
        <div class="index-filter-content-tab-foot">
            <button mtd-dialog-cancel mtd-data-clicker class="mdc-button mdc-button--raised mdc-theme--secondary-bg" type="button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">@Localizer["Apply"]</span>
            </button>
            <button mtd-dialog-cancel class="mdc-button" type="button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">@Localizer["Cancel"]</span>
            </button>
        </div>
    </form>
</div>