@model Models.Index.SelectorModelView
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="index-filter-window" class="mtd-dialog mtd-dialog-hidden">
    <div class="mtd-dialog-container">
        <div class="mtd-dialog-title">
            <div>
                @Localizer["Add filter"]
            </div>
            <div>
                <button mtd-dialog-cancel class="mdc-icon-button material-icons mtd-dialog-cancel">close</button>
            </div>
        </div>

        @await Html.PartialAsync("./_tabsBar.cshtml")

        <div class="index-filter-content">
            @await Html.PartialAsync("./_tabService.cshtml")

            @await Html.PartialAsync("./_tabCustom.cshtml")

            @await Html.PartialAsync("./_tabExtension.cshtml")

        </div>
    </div>

</div>

@await Html.PartialAsync("./_MTDSelectListHelper")