@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Core.DocFieldModel

@if (Model != null && Model.Value != null)
{
    @switch (ViewBag.TypeStyle)
    {
        case "Columns":
            <div class="mtd-store-view-col-root">
                <div class="mtd-store-view-col-name">
                    @Model.Name
                </div>
                <div class="mtd-store-view-col-value">

                    @if ((int)Model.Value == 1)
                    {
                        <i class="fas fa-check-circle" style="font-size: 24px"></i>
                    }
                    else
                    {
                        <i class="far fa-times-circle" style="color: gray; font-size: 24px"></i>
                    }
                </div>

            </div>
            break;
        default:
            <div class="mtd-store-view-row-line">
                <div class="mtd-store-view-row-name">
                    @Model.Name
                </div>
                <div class="mtd-store-view-row-value">

                    @if ((int)Model.Value == 1)
                    {
                        <i class="fas fa-check" style="font-size: 24px"></i>
                    }
                    else
                    {
                        <i class="fas fa-ban" style="color: gray; font-size: 24px"></i>
                    }
                </div>

            </div>
            break;
    }

}


