@inject Services.ConfigHandler configHandler

<div style="text-align: center">
    <span class="mdc-top-app-bar__title" style="padding-left: 8px">
        @{
            var imgAppBar = await configHandler.GetImageFromConfig(configHandler.CodeImgMenu);
        }

        @if (imgAppBar != string.Empty)
        {
            <img src="@imgAppBar" style="max-height: 42px" />

        } else
        {
            <img src="~/lib/mtd-ordermaker/images/logo-mtd.png" style="max-height: 64px" />
        }

    </span>
</div>