@page
@model CheckEmailModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = "Check email";
}

<div class="mdc-elevation--z8 identity-box">
    <partial name="./_ImgHeader" />
    <div style="text-align: center">
        <span style="font-size:large; text-transform:uppercase; padding-top: 24px;">@ViewBag.Title</span>
    </div>
    <hr />
    <p>@Localizer["Please check your inbox to confirm your account."]</p>
</div>