@page
@model ConfirmEmailModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Confirm email address"];
}


    <div div class="mdc-elevation--z8 identity-box">
        <partial name="./_ImgHeader" />
        <div style="text-align: center">
            <span style="font-size: large; text-transform: uppercase">@ViewBag.Title</span>
        </div>
        <hr />
        @{
            if (Model.ShowInvalid)
            {
                <p>
                    @Localizer["There was an error verifying your email address."]
                </p>
                <p>
                    @Localizer["Try again later."]
                </p>
            }
            else
            {
                <p>
                    @Localizer["Email address is verified."]
                </p>
            }
        }
    </div>



