@page
@model ForgotPasswordConfirmation

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Password recovery"];
}

<div class="mdc-elevation--z8 identity-box">
    <partial name="./_ImgHeader"/>
    <div style="text-align: center">
        <span style="font-size:large; text-transform:uppercase; padding-top: 24px;">@ViewBag.Title</span>
    </div>    
    <hr />
    <p>@Localizer["A password recovery link was sent to the specified mailbox."]</p>
</div>


