@page
@model ForgotPasswordModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Password recovery"];
}

<div class="mdc-elevation--z8 identity-box">
    <partial name="./_ImgHeader" />
    <div style="text-align: center">
        <span style="font-size:medium; text-transform:uppercase; padding-top: 24px;">@ViewBag.Title</span>
    </div>
    <form method="post" autocomplete="off">

        @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
   {
       Id = "field-email",
       Name = "Input.Email",
       IconLeading = "fas fa-envelope fa-lg",
       Required = true,
       Label = "Email",
       Placeholder = "Your account email address",
       PlaceholderLocalized = true,
       Type = "email",
       Pattern = AppConfig.RegexPatterns.Email,
       HelperError = "Invalid email address.",
       HelperErrorLocalizer = true,
   })
        <div style="padding-top: 24px; text-align: right">
            <button class="mdc-button mdc-button--raised mdc-theme--secondary-bg" type="submit">@Localizer["Next"]</button>
        </div>
    </form>
</div>

@section Scripts{ 
<script>
    new MTDTextField("field-email");
</script>
}



