@page
@model LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer


@{
    ViewData["Title"] = Localizer["Sign in"];
    ViewData["SubTitle"] = Localizer["Use your username and password to access the system"];
}

    <div class="mdc-elevation--z8 identity-box">

        <partial name="./_ImgHeader"/>

        <form id="account" method="post" autocomplete="off">

            @{
                if (Model.ShowResend)
                {
                    <p>
                        <a asp-page="./UnconfirmedEmail"
                           asp-route-userId="@Model.UserId">Resend verification?</a>
                    </p>
                }
            }
            <div class="mtd-desk-field">
                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                    {
                       Id = "login-name",
                       Name = "Input.UserName",
                       Required = true,
                       MTDTexFieldView = MTDTextFieldViews.Default,
                       Label = "Login",
                       LabelLocalized = true,
                       IconLeading = "fas fa-user fa-lg",
                    })
            </div>
            <div class="mtd-desk-field">
                @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                    {
                       Id = "login-password",
                       Name = "Input.Password",
                       Required = true,
                       MTDTexFieldView = MTDTextFieldViews.Default,
                       Label = "Password",
                       LabelLocalized = true,
                       IconLeading = "fas fa-key fa-lg",
                       Type = "password",
                    })
            </div>


            <div style="display: flex; padding-top: 16px; align-items:center">
                <div style="flex-grow: 1">
                    <div class="mdc-form-field">
                        <div class="mdc-checkbox">
                            <input asp-for="Input.RememberMe" type="checkbox"
                                   class="mdc-checkbox__native-control"
                                   id="checkbox-1" />
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark"
                                     viewBox="0 0 24 24">
                                    <path class="mdc-checkbox__checkmark-path"
                                          fill="none"
                                          d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                        </div>
                        <label for="checkbox-1">@Localizer["Remember Me"]</label>
                    </div>
                    <div style="padding-left: 12px;">
                        <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["Forgot your password?"]</a>
                    </div>
                </div>
                <div>
                    <button class="mdc-button mdc-button--raised mdc-theme--secondary-bg">
                        <div class="mdc-button__ripple"></div>
                        @Localizer["Sign In"]
                    </button>
                </div>
            </div>
        </form>
    </div>

@section Scripts{

    <script>
        new MTDTextField("login-name");
        new MTDTextField("login-password");
    </script>

}