@page
@model ResetPasswordConfirmationModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Reset password"];
}

    <div class="mdc-elevation--z8 identity-box">
        <partial name="./_ImgHeader" />
        <div style="text-align: center">
            <span style="font-size:medium; text-transform:uppercase; padding-top: 24px;">@ViewBag.Title</span>
        </div>
        <hr />
        <p>
            @Localizer["Password has been changed successfully."]
        </p>
        <a asp-page="./Login">@Localizer["To sign in click on the link."]</a>
    </div>



