
.file-upload {
    position: relative;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    height: 64px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.file-upload_title{
    position: absolute;
    margin-top: -14px;
    left: 8px;
    padding: 0px 4px 0px 4px;
    background-color: white;
    z-index: 2;
    font-size: smaller;
    color: gray;
}

.drag-text {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-size: small;
    color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    user-select: none;
    z-index: 1;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    z-index: 2;
}

@media screen and (max-width: 500px) {
    .drag-text {
        font-size: 0.6em;
    }
}

.file-upload-content {
    position: relative;
    display: none;
    text-align: left;
    border: 1px solid dimgray;
    padding-top: 2px;
    height: 100%;
    overflow: hidden;
}


.image-upload-wrap {
    border: 1px solid dimgray;
    position: relative;
    height: 64px; 
}

    .image-dropping,
    .image-upload-wrap:hover {
        background-color: whitesmoke;    
    }

.image-title-wrap {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    padding-right: 8px;
}


.file-upload-image {
   max-height: 64px;  
   padding: 4px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}



